*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-sencondary:'Source Code Pro', monospace ;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25)
    , 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

    --repeat: auto-fit;
    --translateX: 100%;

}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/*General styles*/

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    line-height: 1.6;
}
section{
    padding: 5em 2em;
}

img {
    display:block;
    max-width: 100%;
}

strong{ font-weight: var(--fw-bold);}
:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
/* button */
.btn{
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover{
    transform: scale(1.4);
}
/* Typography */
h1, h2, h3{
    line-height: 1;
    margin: 0;
}
h1{font-size:var(--fs-h1);}
h2{font-size:var(--fs-h2);}
h2{font-size:var(--fs-h2);}

.section_title{
    margin-bottom: .25em;
}
.section_title-intro{
    font-weight: var(--fw-reg);
}
.section_title-intro strong{
    display:block;
}
.section_subtitle{
    margin: 0;
    font-size:var(--fs-h3);
}
.section_subtitle-intro, .section_subtitle-about{
    background-color: var(--clr-accent);
    font-family: var(--ff-sencondary);
    margin-bottom: 1em;
    padding: .25em 1em;
}
.section_subtitle-work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}


/* header */

header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.logo{
    max-width: 100px;
}
.nav-toggle:hover{
    --translateX: 0%;
}
.nav{
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(var(--translateX));
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav_list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav_link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav_link:hover{
    color: var(--clr-accent);
}
.nav-toggle{
    padding: .25em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
    size: 100%;
}

.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-dark);
    width: 3em;
    height: 3px;
    border-radius: 2em;
    transition: transform 250ms ease-in-out;
    margin: 2px 0;
}
.hamburger::before{
    top: 6px;
    margin-bottom: 4px;
}
.hamburger::after{
    bottom: 6px;
    margin-top: px;
}
.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: var(--clr-dark);
}

/*intro section*/
.intro{
    position: relative;
}

.intro_img{
    box-shadow: var(--bs);
}

.section_subtitle-intro{
    display: inline-block;
}
@media(min-width: 600px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro_img{
        grid-area: img;
        min-width: 250px;
        position: relative; 
        z-index: 2;
    }

    .section_subtitle-intro{
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5rem;
        width: calc(100% + 1.5rem);
    }
}

/* My services section */

.my-services{
    background-color: var(--clr-dark);
    background-image: url(../img/image02.png);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.services{
    margin-bottom: 4em; 
}
.section_title-services{
    color: var(--clr-accent);
    position: relative;
}
.section_title-services::after{
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.5;
}
.service{
    max-width: 450px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services{
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        
    }

    .service + .service{
        margin-left: 3em;
    }
}

/* About me */

.about-me{
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width: 600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    .section_title-about{
        grid-area: title;
    }
    .section_subtitle-about{
        grid-area: subtitle;
    }
    .section_subtitle-about{
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me_img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My work */
@media (min-width: 1000px){
    .portfolio{
        --repeat: 3;
    }
}
.my-work{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(var(--repeat, auto-fit), minmax(300px, 1fr));
}

.portfolio_item{
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio_img{
    transition: 
    transform 750ms cubic-bezier(-5, 0, .5, 1)
    ,opacity 250ms linear;
}
.portfolio_item:focus{
    position: relative;
    z-index: 2;
}

.portfolio_img:hover,
.portfolio_item:focus .portfolio_img{
    transform: scale(1.2);
    opacity: 0.5;
}

/* footer */
footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}
.footer-link{
    font-weight: var(--fw-bold);
}
footer a{
    color: inherit;
    text-decoration: none;
}
.social-list_link:hover,
.footer-link:hover{
    opacity: .7;
    text-decoration: underline;
}
.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list_item{
    margin: 0 .5em;
}
.social-list_link{
    padding: .5em;
}